html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: #074F4B;
  color: aliceblue;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
  margin-left:20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

.seeButton{
  margin: 50px;
  float:inline-end;
}

.addButton{
  background-color: #00ff3c;
}

.addButton:hover{
  background-color: #014041;
  color: antiquewhite;
}

.addButton:focus{
  background-color: #026c1b;
  color: antiquewhite;
}

.deleteButton{
  background-color: #00ff3c;
}

.deleteButton:hover{
  background-color: #014041;
  color: antiquewhite;
}

.deleteButton:focus{
  background-color: #026c1b;
  color: antiquewhite;
}
/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: rgb(198, 193, 193);
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #00acb0;
  color: #00acb0;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}



/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  justify-content: right;
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #71220a;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
Weather widget
-------------------------------------------------------------------------------- */

.weather{
  float: right;
  margin-left: 5px;
  margin-right: 60px;
  padding: 1px;
  text-align: center;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00adb0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#f8f8f8;
  box-shadow: 3px 3px 6px rgb(226, 230, 231);
  height: 300px;
  width: 200px;
}



.icon{
  margin: 2px;
}

/* --------------------------------------------------------------------------------
Vegetables
-------------------------------------------------------------------------------- */

/* .veggies{
  display: inline-grid;
  column-gap: 50px;
  row-gap: 5px;
  flex-wrap: wrap;
  margin:40px;
  justify-content: center;
  margin-right: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   */

.addButton{
  justify-content: right;
}

.veggieSeed{
  background-color: #074F4B;
  
}
/* --------------------------------------------------------------------------------
Heading
-------------------------------------------------------------------------------- */

.heading{
  text-align: center;
}





.jardinName{
  justify-content: center;
}

.mainLogo{
  justify-content: right;
  margin-top: 75px;
  margin-right: 120px;;
  position:fixed;
  right: 0;
  top: 0;
  bottom: 0;  
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 500px;
}

.headerLogo{
  margin-left: 30px;
  margin-top: 10px;
  max-width: 300px; 
  max-height: 300px;
}

.images{
  box-shadow: 3px 3px 6px lightblue;
}

/* --------------------------------------------------------------------------------
User Page 
-------------------------------------------------------------------------------- */

.gardenNotes{
  justify-content: right;
  margin-top: 120px;
  margin-right: 500px;;
  position:fixed;
  right: 0;
  top: 0;
  bottom: 0;  
  height: auto; 
  width: auto;
}